/*--------------------------root-----------------------*/
*{
  margin: 0;
  padding: 0;
}
body{
    overflow-x: hidden;
    width:100%;
    height: 100%;
    display: block;
    background-color: #A6BFBE;
}
/*--------------------------Main nav bar-----------------*/
.Main-nav{
  height: 50px;
  width: 100%;
  background-color: #CFC3C2;
}
.Main-nav p{
  font-size: 20px;

}
/*-------------------------- nav bar-----------------*/
.Nav{
  background-color: #78180A;
  -opacity: .8;
  height: 200px;
  width: 100%;
  margin-bottom:
}
.Nav h1{
  font-family: 'Lobster', cursive;
  color: #03F707;
  width:150px;
  -background-color: rgba(0,0,0.2);
  margin-left: 210px;
}
.Nav ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
    background-color: #0D122C;
}
.Nav li{
  float: left;
  width: 150px;
  height: 40px;
  display: inline;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
}
.Nav a{
  text-decoration: none;
  color: #ffff;
  display: block;
}
.Nav a:hover{
  color: green;
}
.Nav ul li ul li{
  display: none;
}
.Nav ul li:hover ul li{
  display: block;
}

/*-------------------------- header-----------------*/
.Header img{
  height: 300px;
  width: 600px;
  margin-top: 30px;
}
#Image2{
  height: 140px;
}
#Image3{
  height: 150px;
  margin-top: 10px;
}
#Image4{
  height: 150px;
  margin-top: 10px;
}
.header:hover img{
  transform: scale(1.2);
}
