/*--------------------------root-----------------------*/
*{
  margin: 0;
  padding: 0;
}
body{
    overflow-x: hidden;
    width:100%;
    height: 100%;
    display: block;
    background-color: #A6BFBE;
}
/*--------------------------Main nav bar-----------------*/
.Main-nav{
  height: 50px;
  width: 100%;
  background-color: #CFC3C2;
}
.Main-nav p{
  font-size: 20px;

}
/*-------------------------- nav bar-----------------*/
.Nav{
  background-color: #78180A;
  height: 200px;
  width: 100%;
  margin-bottom:
}
.Nav h1{
  font-family: 'Lobster', cursive;
  color: #03F707;
  width:150px;
  -background-color: rgba(0,0,0.2);
  margin-left: 210px;
}
.Nav ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  background-color: #0D122C;
  opacity: .8;
  margin: auto;
}
.Nav li{
  float: left;
  width: 150px;
  height: 40px;
  display: inline;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
}
.Nav a{
  text-decoration: none;
  color: #ffff;
  display: block;
  background-color: #0D122C;
}
.Nav a:hover{
  background-color: green;
  color: #e3e3e3;
}
.Nav ul li ul li{
  display: none;
}
.Nav ul li:hover ul li{
  display: block;
}

/*-------------------------- header-----------------*/
.Header img{
  height: 300px;
  width: 600px;
  margin-top: 30px;
}
#Image2{
  height: 140px;
}
#Image3{
  height: 150px;
  margin-top: 10px;
}
#Image4{
  height: 150px;
  margin-top: 10px;
}
.header:hover img{
  transform: scale(1.2);
}
/*-------------------------- aside-----------------*/
aside{
  position: absolute;

}
aside ul{
  margin-top: -100px;
}
aside li{
  margin: 0;
  position: relative;
  display: block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  -text-align: center;
  font-size: 16px;
}
aside a{
  text-decoration: none;
  width: 30px;
  height: 30px;
  text-align: center;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  transition: width 0.5s;
  box-sizing: border-box;
}
aside li:hover a{
  width: 120px;
}
aside li a .fa{
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  box-sizing: border-box;
  color: #ffff;
  border-right: 2px solid #A6BFBE;

}
aside li a span{
  color: #ffff;
  margin-left: 10px;
}
aside li:nth-child(1) a{
  background: #3b5999;
}
aside li:nth-child(2) a{
  background: #1da1f2;
}
aside li:nth-child(3) a{
  background: #dd4b39;
}
aside li:nth-child(4) a{
  background: #007bb5;
}
aside li:nth-child(5) a{
  background: #c32aa3;
}
