/*--------------------------root-----------------------*/
*{
  margin: 0;
  padding: 0;
}
body{
    overflow-x: hidden;
    width:100%;
    height: 100%;
    display: block;
    background-color: #A6BFBE;
}
/*--------------------------Main nav bar-----------------*/
.Main-nav{
  height: 50px;
  width: 100%;
  background-color: #CFC3C2;
}
.Main-nav p{
  font-size: 20px;

}
/*-------------------------- nav bar-----------------*/
.Nav{
  background-color: #78180A;
  height: 200px;
  width: 100%;
  margin-bottom:
}
.Nav h1{
  font-family: 'Lobster', cursive;
  color: #03F707;
  width:150px;
  -background-color: rgba(0,0,0.2);
  margin-left: 210px;
}
.Nav ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  background-color: #0D122C;
  opacity: .8;
  margin: auto;
}
.Nav li{
  float: left;
  width: 150px;
  height: 40px;
  display: inline;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
}
.Nav a{
  text-decoration: none;
  color: #ffff;
  display: block;
  background-color: #0D122C;
}
.Nav a:hover{
  background-color: green;
  color: #e3e3e3;
}
.Nav ul li ul li{
  display: none;
}
.Nav ul li:hover ul li{
  display: block;
}

/*-------------------------- header-----------------*/
.Header img{
  height: 300px;
  width: 600px;
  margin-top: 30px;
}
.Header2 img{
  height: 300px;
  margin-top: 30px;
  -transform: translate(21%);
}
#Image2{
  height: 140px;
}
#Image3{
  height: 150px;
  margin-top: 10px;
}
#Image4{
  height: 150px;
  margin-top: 10px;
}
.header:hover img{
  transform: scale(1.2);
}
/*-------------------------- aside-----------------*/
aside{
  position: fixed;

}
aside ul{
  margin-top: -100px;
}
aside li{
  margin: 0;
  position: relative;
  display: block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  -text-align: center;
  font-size: 16px;
}
aside a{
  text-decoration: none;
  width: 30px;
  height: 30px;
  text-align: center;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  transition: width 0.5s;
  box-sizing: border-box;
}
aside li:hover a{
  width: 120px;
}
aside li a .fa{
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  box-sizing: border-box;
  color: #ffff;
  border-right: 2px solid #A6BFBE;

}
aside li a span{
  color: #ffff;
  margin-left: 10px;
}
aside li:nth-child(1) a{
  background: #3b5999;
}
aside li:nth-child(2) a{
  background: #1da1f2;
}
aside li:nth-child(3) a{
  background: #dd4b39;
}
aside li:nth-child(4) a{
  background: #007bb5;
}
aside li:nth-child(5) a{
  background: #c32aa3;
}
/*--------------------------Content------------------------*/
.Content{
  background-color: #ffff;
}
.Contents{
    background-color: #ffff;
    height: 400px;
}
.Contents h1{
  text-align: center;
  font-size: 30px;
}
.Contents form{
  text-align: center;
}
.Contents input{
  margin-left: 20px;
  display: block;
  margin: auto;
  padding: 10px;
}
.Contents p{

}
/*--------------------------Contacts------------------------*/
.Contacts{
  background-color: #0D122C;
  height: 450px;
}
.Contacts h1{
  float: right;
  color: #ffff;
  border-bottom: 1px dashed #ffff;
  margin-top: -450px;
  transform: translate(-30%,50%);
}
.Contacts p span{
  float:right;
  color: #ffff;
  border-left: 1px solid #ffff;
  padding:20px;
  transform: translate(250%,-120%);
}
/*---------------------------footer-------------------------*/
footer{
  background-color: #78180A;
  height: 350px;
  margin-top: 40px;
}
footer h1{
  transform: translate(40%,50%);
  font-size: 40px;
}
footer p{
  transform: translate(70%,300%);
}
